body
  margin: 0
  background-color: $very_light_grey
  font-family: 'Source Sans Pro', sans-serif
  font-size: 13px
  color: $black

header#header
  background-color: $blue
  +clearfix
  #logo
    margin: 10px 0 9px 10px 
    float: left
  nav#navigation
    float: right
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        float: left
        position: relative
        a
          text-decoration: none
        .fa-sign-in
          margin-right: 5px  
        &.submenu
          #user-icon
            padding-right: 5px
            display: inline
            img
              vertical-align: middle
              +border-radius(5px 5px 5px 5px)
        &.submenu > span, a
          color: white
          display: inline-block
          float: left
          line-height: 50px
          padding: 0 20px
          -webkit-touch-callout: none
          -webkit-user-select: none
          -khtml-user-select: none
          -moz-user-select: none
          -ms-user-select: none
          user-select: none
          &:hover
            background-color: $dark_blue
          i
            color: white
            font-size: 18px
            position: relative
            top: 2px          
        &.submenu.open 
          & > span
            background-color: $dark_blue
          .dropdown
            display: block
            li
              white-space: nowrap
              a
                color: white
              i
                margin-right: 10px
        .dropdown
          background: $dark_blue
          display: none
          padding: 10px 20px
          position: absolute
          top: 50px
          right: 0
          z-index: 10

#messages
  border-left: 1px solid $grey
  border-right: 1px solid $grey
  border-bottom: 1px solid $grey
  display: none
  margin: 0 auto
  width: 80%
  background-color: white
  > div
    padding: 20px

#dashboard_settings_form
  label
    display: inline

#block-system-main
  > .content
    margin: 20px 0 0 20px

section.widget
  border: 1px solid $grey
  background-color: white
  margin: 0 20px 20px 0
  width: 370px
  height: 380px
  float: left
  +box-sizing(border-box)
  &.drop
    border: 3px dotted $grey
    background-color: $very_light_grey
  header
    font-size: 16px
    font-weight: bold
    line-height: 30px
    padding: 5px 10px
    .fa
      cursor: pointer
      font-weight: normal
      width: 30px
      text-align: center
      line-height: 40px
      &.fa-search
        float: right
      &.fa-ellipsis-v:hover
        &:before
          content: "\f047"
  div.search
    display: none
    height: 0px
    border-top: 1px solid $grey
    border-bottom: 1px solid $grey
    input
      border: 0
      line-height: 20px
      margin-left: 5px
      width: 95%
  div.content
    div.scroll
      height: 279px
      .jspVerticalBar
        width: 5px
        .jspTrack
          background-color: $light_blue
        .jspDrag
          background-color: $blue
          +border-radius(5px 5px)
    div.status
      background-color: white
      background-repeat: no-repeat
      background-position: center center
      height: 332px
      &.throbber
        background-image: url('../../../modules/ndla_my_dashboard/images/throbber.gif')
      &.error
        background-image: url('../../../modules/ndla_my_dashboard/images/error.gif')
  footer
    background-color: $grey
    bottom: 0px
    width: 100%
    a
      color: white
      background-color: $blue
      display: inline-block
      line-height: 30px
      padding: 0 10px
      +border-radius(5px 5px)
      margin: 10px
      text-decoration: none
      &:hover
        background: $dark_blue
      &:after
        font-size: 12px
        margin-left: 10px
        content: "\f054"
        font-family: "FontAwesome"
  table
    width: 100%
    tbody
      border: 0
    th, td
      padding: 10px 15px
    th
      background-color: $grey
      border: 0
      &.sortable
        cursor: pointer
        &:before,
        &.headerSortDown:before,
        &.headerSortUp:before
          font-size: 10px
          line-height: 20px
          float: right
          content: "\f0dc"
          font-family: "FontAwesome"
        &.headerSortDown:before
          content: "\f0de"
        &.headerSortUp:before
          content: "\f0dd"
    tr
      background-color: $light_gray
      border: 0
      &.odd
        background-color: white
        
#widget_page section.widget
  margin-bottom: 20px
  width: 700px
  height: auto
  header
    font-size: 20px
    padding-left: 10px
  div.search
    height: auto
    display: block
    border: 0
    padding-left: 10px
    margin-bottom: 10px
    label
      display: inline
    input
      border: 1px solid $grey
      margin-left: 5px
      width: 300px
  div.content
    div.scroll
      height: auto

#ndla-my-user-settings-form
  border: 1px solid $grey
  width: 700px
  padding: 20px
  background-color: white
  input[type=text]
    width: 300px
  .column
    float: left
  .column-1
    width: 360px
  .column-2
    width: 40%
    border-left: 1px solid $grey
    padding-left: 30px
  #edit-submit
    display: block
    clear: both
    
#ndla_contents
  border: 1px solid $grey
  width: 700px
  padding: 20px
  background-color: white
  #form > div
    clear: both
  input
    float: left

#block-menu-block-1
  margin: 20px
  float: right
  ul.menu
    +border-radius(5px 5px)
    overflow: hidden
    margin: 0
    padding: 0
    li
      list-style: none
      margin: 0
      padding: 0
      display: inline-block
      float: left
      border-right: 1px solid darken($grey, 10%)
      &.last
        border: 0
      a
        background: $grey
        display: inline-block
        padding: 0 15px
        line-height: 30px
        text-decoration: none
        color: $black
        &:before
          display: inline-block
          font-family: FontAwesome
          font-style: normal
          font-weight: normal
          line-height: 1
          -webkit-font-smoothing: antialiased
          -moz-osx-font-smoothing: grayscale
          margin-right: 5px
        &:hover
          background: darken($grey, 10%)
        &.active
          background: $blue
          color: white
          &:hover
            background: $dark_blue
      &.menu-mlid-244 a:before
        content: "\f007"
      &.menu-mlid-243 a:before
        content: "\f085"
      &.menu-mlid-242 a:before
        content: "\f057"
      &.menu-mlid-262 a:before,
      &.menu-mlid-271 a:before
        content: "\f0e4"

#login_providers
  width: 700px
      
input[type=submit],  
button
  color: white
  border: 0
  background-color: $blue
  display: inline-block
  line-height: 30px
  padding: 0 10px
  +border-radius(5px 5px)
  margin: 10px
  text-decoration: none
  &:hover
    background: $dark_blue
        