@mixin clearfix
    &:before, 
    &:after
        content: " "
        display: table
    &:after
        clear: both
    *zoom: 1


@mixin rounded($top: 10px, $right: 10px, $bottom: $top, $left: $right)
    border-radius: $top $right $bottom $left
    -moz-border-radius: $top $right $bottom $left
    -webkit-border-top-left-radius: $top
    -webkit-border-top-right-radius: $right
    -webkit-border-bottom-left-radius: $bottom
    -webkit-border-bottom-right-radius: $left