body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #111111;
}

header#header {
  background-color: #2666a6;
  *zoom: 1;
}
header#header:before, header#header:after {
  content: " ";
  display: table;
}
header#header:after {
  clear: both;
}
header#header #logo {
  margin: 10px 0 9px 10px;
  float: left;
}
header#header nav#navigation {
  float: right;
}
header#header nav#navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header#header nav#navigation ul li {
  float: left;
  position: relative;
}
header#header nav#navigation ul li a {
  text-decoration: none;
}
header#header nav#navigation ul li .fa-sign-in {
  margin-right: 5px;
}
header#header nav#navigation ul li.submenu #user-icon {
  padding-right: 5px;
  display: inline;
}
header#header nav#navigation ul li.submenu #user-icon img {
  vertical-align: middle;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
header#header nav#navigation ul li.submenu > span, header#header nav#navigation ul li a {
  color: white;
  display: inline-block;
  float: left;
  line-height: 50px;
  padding: 0 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header#header nav#navigation ul li.submenu > span:hover, header#header nav#navigation ul li a:hover {
  background-color: #1e5285;
}
header#header nav#navigation ul li.submenu > span i, header#header nav#navigation ul li a i {
  color: white;
  font-size: 18px;
  position: relative;
  top: 2px;
}
header#header nav#navigation ul li.submenu.open > span {
  background-color: #1e5285;
}
header#header nav#navigation ul li.submenu.open .dropdown {
  display: block;
}
header#header nav#navigation ul li.submenu.open .dropdown li {
  white-space: nowrap;
}
header#header nav#navigation ul li.submenu.open .dropdown li a {
  color: white;
}
header#header nav#navigation ul li.submenu.open .dropdown li i {
  margin-right: 10px;
}
header#header nav#navigation ul li .dropdown {
  background: #1e5285;
  display: none;
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 10;
}

#messages {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  display: none;
  margin: 0 auto;
  width: 80%;
  background-color: white;
}
#messages > div {
  padding: 20px;
}

#dashboard_settings_form label {
  display: inline;
}

#block-system-main > .content {
  margin: 20px 0 0 20px;
}

section.widget {
  border: 1px solid #e9e9e9;
  background-color: white;
  margin: 0 20px 20px 0;
  width: 370px;
  height: 380px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section.widget.drop {
  border: 3px dotted #e9e9e9;
  background-color: #fafafa;
}
section.widget header {
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  padding: 5px 10px;
}
section.widget header .fa {
  cursor: pointer;
  font-weight: normal;
  width: 30px;
  text-align: center;
  line-height: 40px;
}
section.widget header .fa.fa-search {
  float: right;
  color: black;
  text-decoration: none;
}
section.widget header .fa.fa-ellipsis-v:hover:before {
  content: "\f047";
}
section.widget div.search {
  display: none;
  height: 0px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
section.widget div.search input {
  border: 0;
  line-height: 20px;
  margin-left: 5px;
  width: 95%;
}
section.widget div.content div.scroll {
  height: 279px;
}
section.widget div.content div.scroll .jspVerticalBar {
  width: 5px;
}
section.widget div.content div.scroll .jspVerticalBar .jspTrack {
  background-color: #d4e0ed;
}
section.widget div.content div.scroll .jspVerticalBar .jspDrag {
  background-color: #2666a6;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
}
section.widget div.content div.status {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  height: 332px;
}
section.widget div.content div.status.throbber {
  background-image: url("../../../modules/ndla_my_dashboard/images/throbber.gif");
}
section.widget div.content div.status.error {
  background-image: url("../../../modules/ndla_my_dashboard/images/error.gif");
}
section.widget footer {
  background-color: #e9e9e9;
  bottom: 0px;
  width: 100%;
}
section.widget footer a {
  color: white;
  background-color: #2666a6;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  margin: 10px;
  text-decoration: none;
}
section.widget footer a:hover {
  background: #1e5285;
}
section.widget footer a:after {
  font-size: 12px;
  margin-left: 10px;
  content: "\f054";
  font-family: "FontAwesome";
}
section.widget table {
  width: 100%;
}
section.widget table tbody {
  border: 0;
}
section.widget table th, section.widget table td {
  padding: 10px 15px;
}
section.widget table th {
  background-color: #e9e9e9;
  border: 0;
}
section.widget table .hidden-sort {
  display:none;
}
section.widget table th.sortable {
  cursor: pointer;
  white-space: nowrap;
}
section.widget table th.sortable span:after,
section.widget table th.sortable.headerSortDown span:after,
section.widget table th.sortable.headerSortUp span:after {
  font-size: 10px;
  line-height: 20px;
  content: "\f0dc";
  font-family: "FontAwesome";
  margin-left: 10px;
}
section.widget table th.sortable.headerSortDown span:after {
  content: "\f0de";
}
section.widget table th.sortable.headerSortUp span:after {
  content: "\f0dd";
}
section.widget table tr {
  background-color: #f6f6f6;
  border: 0;
}
section.widget table tr.odd {
  background-color: white;
}

#widget_page section.widget {
  margin-bottom: 20px;
  width: 700px;
  height: auto;
}
#widget_page section.widget header {
  font-size: 20px;
  padding-left: 10px;
}
#widget_page section.widget div.search {
  height: auto;
  display: block;
  border: 0;
  padding-left: 10px;
  margin-bottom: 10px;
}
#widget_page section.widget div.search label {
  display: inline;
}
#widget_page section.widget div.search input {
  border: 1px solid #e9e9e9;
  margin-left: 5px;
  width: 300px;
}
#widget_page section.widget div.content div.scroll {
  height: auto;
}

#ndla-my-user-settings-form {
  border: 1px solid #e9e9e9;
  width: 700px;
  padding: 20px;
  background-color: white;
}
#ndla-my-user-settings-form input[type=text] {
  width: 300px;
}
#ndla-my-user-settings-form .column {
  float: left;
}
#ndla-my-user-settings-form .column-1 {
  width: 360px;
}
#ndla-my-user-settings-form .column-2 {
  width: 40%;
  border-left: 1px solid #e9e9e9;
  padding-left: 30px;
}
#ndla-my-user-settings-form #edit-submit {
  display: block;
  clear: both;
}

#ndla_contents {
  border: 1px solid #e9e9e9;
  width: 700px;
  padding: 20px;
  background-color: white;
}
#ndla_contents #form > div {
  clear: both;
}
#ndla_contents input {
  float: left;
}

#block-menu-block-1 {
  margin: 20px;
  float: right;
}
#block-menu-block-1 ul.menu {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#block-menu-block-1 ul.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  border-right: 1px solid #d0d0d0;
}
#block-menu-block-1 ul.menu li.last {
  border: 0;
}
#block-menu-block-1 ul.menu li a {
  background: #e9e9e9;
  display: inline-block;
  padding: 0 15px;
  line-height: 30px;
  text-decoration: none;
  color: #111111;
}
#block-menu-block-1 ul.menu li a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
#block-menu-block-1 ul.menu li a:hover {
  background: #d0d0d0;
}
#block-menu-block-1 ul.menu li a.active {
  background: #2666a6;
  color: white;
}
#block-menu-block-1 ul.menu li a.active:hover {
  background: #1e5285;
}
#block-menu-block-1 ul.menu li.menu-mlid-244 a:before {
  content: "\f007";
}
#block-menu-block-1 ul.menu li.menu-mlid-243 a:before {
  content: "\f085";
}
#block-menu-block-1 ul.menu li.menu-mlid-242 a:before {
  content: "\f057";
}
#block-menu-block-1 ul.menu li.menu-mlid-262 a:before, #block-menu-block-1 ul.menu li.menu-mlid-271 a:before {
  content: "\f0e4";
}

#login_providers {
  width: 700px;
}

input[type=submit],
button {
  color: white;
  border: 0;
  background-color: #2666a6;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  margin: 10px;
  text-decoration: none;
}
input[type=submit]:hover,
button:hover {
  background: #1e5285;
}