#login_providers td {
  padding: 10px;
  text-align: center;
  height: 150px;
}

#login_providers td:first-child {
  width: 350px;
}

#login_providers {
  width: 100%;
}

#login_providers input[type=submit], #login_providers input[type=button] {
  width: 100px;
}
